{
  "$schema": "https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/prettierrc.json",
  "tabWidth": 4,
  "useTabs": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "singleQuote": false
}